@charset "utf-8";
@media screen and (max-width: 1540px) {
	/* ------BODY------ */
	.container {background-size:1431px;}
	
	/* ------MAIN-CONTAINER------ */
	._cBlocks {width:80.56%; min-width:1160px;}/*width = 609 from 768*/
	.kingliveTV, .NFT, .gamehub, .features, .roadmap, .partners {padding:75px 0 0 0;}
	._dot {width:30px;height:30px;border:7.5px solid rgba(250,200,0,0.2);}
	._dot em {width:30px;height:30px;}
	._dot em:after {width:12px;height:12px;top:30%;left:30%;}
	
	._desc h2 {font-size:35px;line-height:50px;}
	._desc p {font-size:16px;line-height:30px;width:56.03%;}
	._desc ._btn {font-size:16px;padding:18px 34px;line-height:24px;}
	._attribute {line-height:20px;font-size:14px;backdrop-filter: blur(5px);}
	._attribute strong {font-size:16px;}

	
	/* ------HEADER------ */
	.header {width:100%;height:105px;padding:50px 0 0 0;}
	.header ._cBlocks {height:55px;}
	.header .logo {width:82px;height:55px;background-size:82px;}
	.header .app_name {font-size:19px;line-height:23px;margin:30px 0 0 12px;}


	.header ul {width:55%;height:100%;float:right;}
	.header ul li {margin:25px 20px 0 0;}
	.header ul li a {display:block;padding:0 4px;font-size:13px;}
	.lauch_btn {width:96px;height:36px;line-height:36px !important;margin:18px 0 0 0;}
	
	/* ------MAIN-CONTAINER: SLIDER SECTION------ */

	.slider ._left_content {width:47.16%;}
	/* --MAIN-CONTAINER: _left_content -- */
	._left_content h2 {font-size:30px;line-height:38px;margin:149.5px 0 0 0;}
	._left_content p {font-size:22px;line-height:35px;margin:15px 0 0 0;}
	._left_content span a {font-size:16px;line-height:23px;padding:13px 22px;margin:35px 15px 0 0;}
	
	/* --MAIN-CONTAINER: _right_content -- */
	._right_content {width:52.76%;padding-top:76px;}
	._right_content img {width:54.41%;float:right;}
	.gift_btn {width:84px;height:84px;border:10px solid rgba(250,200,0,0.2);top:39.12%;left:38.66%;}
	.gift_btn:after {width:84px;height:84px;background-size:54px;}
	/* --MAIN-CONTAINER:dot  -- */
	.slider .pos1 {top:462.5px;left:0%;}
	.slider .pos2 {top:474.5px;left:22%;}
	.slider .pos3 {top:422.5px;left:41.87%;}
	._dot_desc h3 {font-size:30px;}
	._dot_desc h3 em {font-size:60%;line-height:30px;}
	._dot_desc p {font-size:16px;}
	.slider .pos1_desc,.slider .pos2_desc,.slider .pos3_desc {top:550.5px;}
	.slider .pos2_desc {left:22%;}
	.slider .pos3_desc {left:41.87%;}
	
	
	/* --MAIN-CONTAINER:kingliveTV  -- */
	.kingliveTV ._attribute {padding:12px 26px;font-size:14px;}
	.kingliveTV img {width:49.14%;margin-top:25px;}
	.kingliveTV .pos1 {top:19.27%;left:21.21%;}
	.kingliveTV .pos2 {top:21.51%;right:22.07%;}
	.kingliveTV .pos3 {top:59.78%;left:15.52%;}
	.kingliveTV .pos4 {top:59.78%;right:20.52%;}
	
	
	/* --MAIN-CONTAINER:NFT  -- */

	.NFT ._desc {width:47.16%;}
	.NFT ._desc p {margin:15px 0 25px 0;width:100%;}
	.NFT ._desc ul li {font-size:16px;line-height:23px;}
	.NFT ._desc ul li span {background-size:28px;margin:0 14px 0 0;width:28px;height:28px;}
	.NFT ._illustration {width:52.76%;float:right;} 
	.NFT ._illustration img {display:block;margin:63px auto 0 auto;width:50.49%;}
	.NFT ._desc ._btn {margin:20px 0 0 0;}

	.NFT .pos1 {top:21.63%;left:18.14%;padding:10px 11px;}
	.NFT .pos2 {top:47.35%;left:6.54%;padding:21px;}
	.NFT .pos3 {top:70.0%;right:3.1%;padding:25px;}
	.boxes {width:114px;height:114px;margin:15px 15px 15px 0;padding:22px 0;}
	.boxes strong {font-size:30px;line-height:43px;}
	
	
	/* --MAIN-CONTAINER:gamehub  -- */
	.gamehub ._illustration {width:47.16%;min-height:323px;}
	.gamehub ._illustration img {width:97.62%;display:block;float:left;}
	.gamehub ._subsection {width:52.76%;padding:25px 0 0 0;}
	.gamehub ._subsection h3 {width:93.46%;height:60px;line-height:61px;font-size:20px;padding:0 0 0 17px;margin:0 0 21px 6.54%;} 
	.gamehub ._subsection ul {height:240px;margin-left:6.54%;width:93.46%;}
	.gamehub ._subsection ul li {font-size:16px;line-height:24px;margin:0 0 5px 18px;width:46.50%;height:auto;min-height:72px;}
	.gamehub ._subsection ul li:nth-child(5),.sub_list li:nth-child(3) {line-height:55px;}
	.gamehub ._subsection ul li span {width:29px;height:29px;background-size:290px;margin:15px 20px 0 0;}
	.gamehub ._subsection ul li:nth-child(2) span {background-position:	-86px 0;}
	.gamehub ._subsection ul li:nth-child(3) span {background-position:	-29px 0;margin-top:22px;}
	.gamehub ._subsection ul li:nth-child(4) span {background-position:	-116px 0;}
	.gamehub ._subsection ul li:nth-child(5) span {background-position:	-58px 0;}
	.sub_list li:nth-child(3) {line-height:55px !important;}
	.sub_list li:nth-child(5) {line-height:24px !important;}
	.sub_list li:nth-child(1) span {background-position:-145px 0 !important;}
	.sub_list li:nth-child(2) span {background-position:-232px 0 !important;}
	.sub_list li:nth-child(3) span {background-position:-174px 0 !important;margin-top:12px !important;}
	.sub_list li:nth-child(4) span {background-position:-261px 0 !important;}
	.sub_list li:nth-child(5) span {background-position:-203px 0 !important;}
	
	
	/* --MAIN-CONTAINER:features  -- */
	.features ._subsection {overflow:hidden;}
	.features ._subsection div {width:31.9%;height:auto;padding:20px;margin:25px 24px 0 0;min-height:450px; overflow:hidden;}
	.features ._subsection div:before {height:6px;} 
	.features ._subsection div h3 {font-size:20px;line-height:28px;display:block; min-height:56px;}
	.features ._subsection div p {font-size:16px;line-height:24px;}
	
	.features ._subsection div:nth-child(3n) {margin:25px 0 0 0;}
	
	
	/* --MAIN-CONTAINER:roadmap  -- */
	.roadmap {overflow:unset;max-width:1160px;}	
	.roadmap ._illustration {height:860px;background:url(../resources/images/ilus_04_1440.svg) 51px top no-repeat;margin:179.2px 0 0 0;}
	.roadmap ._illustration:after {display:none;}
	.roadmap ._dot {width:24px;height:24px;border:5px solid rgba(255,255,255,0.15);}
	.roadmap ._dot em {width:24px;height:24px;}
	.roadmap ._dot em:after {top:12px;left:12px;}
	.roadmap ._dot:hover em:after,.roadmap ._dot.active em:after, .roadmap ._dot:active em:after {border:5px solid rgba(247,215,79,0.2);width:24px;height:24px;top:-5px;left:-5px;}
	.roadmap ._dot_desc {padding:15px 24px;}
	.roadmap ._dot_desc h3 {font-size:18px;margin: 0 0 5px 0 ;line-height:25px;}
	.roadmap ._dot_desc ul li {font-size:16px;line-height:23px;}
	
	.roadmap .pos1 {top:-13px;left:144px;}
	.roadmap .pos2 {top:-13px;left:490px;}
	.roadmap .pos3 {top:-13px;left:784px;}
	.roadmap .pos4 {top:110.6px;right:89.7px;}
	.roadmap .pos5 {top:238.5px;left:590px;}
	.roadmap .pos6 {top:238.5px;left:376px;}
	.roadmap .pos7 {top:250.8px;left:173px;}
	.roadmap .pos8 {top:363px;left:93px;}
	.roadmap .pos9 {top:489px;left:369px;}
	.roadmap .pos10 {top:485px;left:695px;}
	.roadmap .pos11 {top:618px;left:1036px;}
	.roadmap .pos12 {top:739px;left:645px;}
	
	.roadmap .pos1_desc {top:-145px;left:129px;max-width:207px;}
	.roadmap .pos2_desc {top:-145px;left:475px;width:254px;}
	.roadmap .pos3_desc {top:-165px;left:769px;max-width:263px;}
	.roadmap .pos4_desc {top:68px;left:800px;}
	.roadmap .pos5_desc {top:103px;left:575px;}
	.roadmap .pos6_desc {top:103px;left:361px;max-width:220px;}
	.roadmap .pos7_desc {top:103px;left:158px;max-width:230px;}
	.roadmap .pos8_desc {top:330px;left:124px;max-width:253px;}
	.roadmap .pos9_desc {top:313px;left:354px;max-width:280px;}
	.roadmap .pos10_desc {top:313px;left:680px;max-width:470px;}
	.roadmap .pos11_desc {top:537px;left:540px;max-width:480px;}
	.roadmap .pos12_desc {top:775px;left:635px;}
	
	/* --MAIN-CONTAINER:partners  -- */
	.partners ._illustration a {display:block;float:left;height:120px;margin:0;width:25%;}
	.partners ._illustration a img {width:80%;display:block;margin:0 auto;}
	.partners ._illustration {padding: 58px 0;}
	.partners ._illustration a:nth-child(4) {margin:0;}
	.partners ._illustration a:nth-child(n+5):nth-child(-n+8) {margin:0 0;}
	.partners ._illustration a:nth-child(5) {margin-left:13% !important;}
	.partners ._illustration a:nth-child(6) img {width:60%;} 

	/* ----FOOTER:left content ----*/
	.footer ._left_content {width:27.76%;}
	.footer ._left_content p {font-size:16px;line-height:22px;}
	.footer ._left_content ul li {margin:40px 23px 0 0;}
	.footer ._left_content ul li:last-child {margin:40px 0 0 0;}

	
	/* ----FOOTER:right content ----*/
	.footer ._right_content {width:64.16%;float:right;min-height:30px;padding-top:76px;}
	.footer ._right_content a {float:left;font-size:18px;min-width:25.0%;text-align:left;margin:0 0 28px 0;}
	
	
	/*----SUBPAGE----------*/
	.fixed_content {font-size:14px;}

}


@media screen and (max-width: 1280px) {
	/* ------BODY------ */
	.container {background-size:1380px;}
	
	/* ------MAIN-CONTAINER------ */
	._cBlocks {width:78.44%; min-width:1004px;}/*width = 609 from 768*/
	._dot {width:27px;height:27px;border:7px solid rgba(250,200,0,0.2);}
	._dot em {width:27px;height:27px;}
	._dot em:after {width:10px;height:10px;top:30%;left:30%;}	
	._desc p {font-size:16px;line-height:30px;width:64.74%;}
	._attribute {line-height:20px;font-size:14px;}
	._attribute strong {font-size:15px;}

	
	/* ------HEADER------ */
	.header ul {width:54.96%;}
	.header ul li {margin:25px 12px 0 0;}
	.header ul li a {font-size:12px;}
	.lauch_btn {width:96px;height:36px;line-height:36px !important;margin:18px 0 0 0;}
	
	/* ------MAIN-CONTAINER: SLIDER SECTION------ */

	.slider ._left_content {width:50%;}
	/* --MAIN-CONTAINER: _left_content -- */
	._left_content h2 {margin:132.5px 0 0 0;}
	
	/* --MAIN-CONTAINER: _right_content -- */
	._right_content {width:50%;padding-top:67px;}
	._right_content img {width:71.22%;float:right;}
	.gift_btn {width:78px;height:78px;border:9px solid rgba(250,200,0,0.2);top:47.86%;left:21.72%;}
	.gift_btn:after {width:78px;height:78px;background-size:50px;}
	/* --MAIN-CONTAINER:dot  -- */
	.slider .pos1 {top:462.5px;left:0%;}
	.slider .pos2 {top:447.5px;left:22%;}
	.slider .pos3 {top:407.5px;left:41.87%;}
	._dot_desc h3 {font-size:30px;}
	._dot_desc h3 em {font-size:60%;line-height:30px;}
	._dot_desc p {font-size:16px;}
	.slider .pos1_desc,.slider .pos2_desc,.slider .pos3_desc {top:550.5px;}
	.slider .pos2_desc {left:22%;}
	.slider .pos3_desc {left:41.87%;}
	
	
	/* --MAIN-CONTAINER:kingliveTV  -- */
	.kingliveTV img {width:53.78%;}
	.kingliveTV .pos1 {top:19.35%;left:19.22%;}
	.kingliveTV .pos2 {top:21.7%;right:18.13%;}
	.kingliveTV .pos3 {top:59.82%;left:12.95%;}
	.kingliveTV .pos4 {top:59.82%;right:16.55%;}
	
	
	/* --MAIN-CONTAINER:NFT  -- */

	.NFT ._desc {width:50%;}
	.NFT ._desc ul li {font-size:16px;line-height:23px;}
	.NFT ._illustration {width:50%;} 
	.NFT ._illustration img {margin:63px auto 0 auto;width:63.94%;}
	.NFT ._desc ._btn {margin:20px 0 0 0;}

	.NFT .pos1 {top:27.63%;left:8.14%;padding:10px 11px;}
	.NFT .pos2 {top:50.35%;left:5.54%;padding:21px;}
	.NFT .pos3 {top:68%%;right:3.1%;padding:25px;}
	.boxes {width:114px;height:114px;margin:15px 15px 15px 0;padding:22px 0;}
	.boxes strong {font-size:30px;line-height:43px;}
	
	
	/* --MAIN-CONTAINER:gamehub  -- */
	.gamehub ._illustration {width:50%;}
	.gamehub ._subsection {width:50%;}
	.gamehub ._subsection ul {height:240px;margin-left:6.54%;width:93.46%;}
	.gamehub ._subsection ul li {line-height:21px;width:46.10%;}
	.gamehub ._subsection ul li:nth-child(5) {line-height:55px;}
	.gamehub .sub_list li:nth-child(3) {line-height:55px !important;}
	.sub_list li:nth-child(5) {line-height:21px !important;}
	
	
	
	/* --MAIN-CONTAINER:features  -- */
	.features ._subsection {overflow:hidden;}
	.features ._subsection div {width:48.9%;padding:20px;margin:21px 21px 0 0;min-height:366px; overflow:hidden;}
	.features ._subsection div:before {height:6px;} 
	.features ._subsection div h3 {min-height:28px;}
	.features ._subsection div p {font-size:16px;line-height:24px;}
	.features ._subsection div:nth-child(2n) {margin:21px 0 0 0 !important;}
	.features ._subsection div:nth-child(3n) {margin:21px 21px 0 0;}

	
	
	/* --MAIN-CONTAINER:roadmap  -- */
	.roadmap {overflow:unset;max-width:1160px;}	
	.roadmap ._illustration {height:860px;background:url(../resources/images/ilus_04_1440.svg) left top no-repeat;margin:179.2px 0 0 0;background-size:1002px;}
	.roadmap ._illustration:after {display:none;}
	.roadmap ._dot {width:24px;height:24px;border:5px solid rgba(255,255,255,0.15);}
	.roadmap ._dot em {width:24px;height:24px;}
	.roadmap ._dot em:after {top:12px;left:12px;}
	.roadmap ._dot:hover em:after,.roadmap ._dot.active em:after, .roadmap ._dot:active em:after {border:5px solid rgba(247,215,79,0.2);width:24px;height:24px;top:-5px;left:-5px;}
	.roadmap ._dot_desc {padding:15px 24px;}
	.roadmap ._dot_desc h3 {font-size:18px;margin: 0 0 5px 0 ;line-height:25px;}
	.roadmap ._dot_desc ul li {font-size:16px;line-height:23px;}
	
	.roadmap .pos1 {top:-13px;left:93px;}
	.roadmap .pos2 {top:-13px;left:439px;}
	.roadmap .pos3 {top:-13px;left:733px;}
	.roadmap .pos4 {top:110.6px;right:-9.3px;}
	.roadmap .pos5 {top:238.5px;left:539px;}
	.roadmap .pos6 {top:238.5px;left:325px;}
	.roadmap .pos7 {top:250.8px;left:122px;}
	.roadmap .pos8 {top:363px;left:42px;}
	.roadmap .pos9 {top:489px;left:318px;}
	.roadmap .pos10 {top:485px;left:644px;}
	.roadmap .pos11 {top:618px;left:979px;}
	.roadmap .pos12 {top:739px;left:604px;}
	
	.roadmap .pos1_desc {top:-145px;left:78px;max-width:207px;}
	.roadmap .pos2_desc {top:-145px;left:424px;width:254px;}
	.roadmap .pos3_desc {top:-165px;left:718px;max-width:263px;}
	.roadmap .pos4_desc {top:68px;left:749px;}
	.roadmap .pos5_desc {top:103px;left:525px;}
	.roadmap .pos6_desc {top:103px;left:310px;max-width:220px;}
	.roadmap .pos7_desc {top:103px;left:107px;max-width:230px;}
	.roadmap .pos8_desc {top:330px;left:73px;max-width:253px;}
	.roadmap .pos9_desc {top:313px;left:303px;max-width:280px;}
	.roadmap .pos10_desc {top:313px;left:629px;max-width:470px;}
	.roadmap .pos11_desc {top:530px;left:569px;max-width:400px;}
	.roadmap .pos12_desc {top:775px;left:585px;}
	
	/* ----FOOTER:left content ----*/
	.footer ._left_content {width:27.76%;}
	.footer ._left_content p {font-size:16px;line-height:22px;}
	.footer ._left_content ul li {margin:40px 23px 0 0;}
	.footer ._left_content ul li:last-child {margin:40px 0 0 0;}

	
	/* ----FOOTER:right content ----*/
	.footer ._right_content {width:64.16%;float:right;min-height:30px;padding-top:76px;}
	.footer ._right_content a {float:left;font-size:18px;min-width:25.0%;text-align:left;margin:0 0 28px 0;}
	
	/*----SUBPAGE----------*/
	.fixed_content {font-size:14px;}


}

@media screen and (max-width: 1010px) {
	/* ------BODY------ */
	.container {background:#14151a url(../resources/images/main_bg_ipad.png) top center no-repeat;}
	
	/* ------MAIN-CONTAINER------ */
	._cBlocks {width:79.3%;min-width:609px;}/*width = 609 from 768*/
	.kingliveTV, .NFT, .gamehub, .features, .roadmap, .partners {padding:4em 0 0 0;}
	._dot {width:1em;height:1em;border:4px solid rgba(250,200,0,0.2);font-size:16px;}
	._dot em {width:1em;height:1em;}
	._dot em:after {width:6px;height:6px;top:30%;left:30%;}
	._desc h2 {font-size:30px;line-height:2.5em;}
	._desc p {font-size:16px;line-height:24px;width:84.73%;}
	._desc ._btn {font-size:14px;padding:0.75em 0.3125em;margin:1.25em auto;line-height:24px;}
	._rounded {-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;-o-border-radius: 6px;border-radius: 6px;}
	._attribute {padding:0.75em 1.625em;top:0;line-height:1.3em;font-size:12px;backdrop-filter: blur(5px);}
	._attribute strong {font-size:14px;}
	
	/* ------HEADER------ */
	.header {width:100%;height:73px;padding:26px 0 0 0;}
	.header ._cBlocks {height:100%;max-width:626px;}
	.header .navbar {display:block;z-index:602;}
	.header .logo {width:70px;height:47px;background-size:70px;position:absolute;top:0;left:43px;z-index:605;}
	.header .app_name {font-size:12px;line-height:16px;position:absolute;top:26px;left:123px;z-index:605;margin:0;}

	#SetSticky {height:3em;}
	.header ul {height: 100%;width: 0;position: fixed;z-index: 600;top: 0;left: 0;background-color:rgba(33,36,49,1);overflow-x: hidden;transition: 0.5s;padding:5.625em 0 0 0;}
	.header ul.active {width:59.9%;}
	.header ul li:first-child {border-top:2px solid rgba(255,255,255,.2);}
	.header ul li {float:none;width:100%;margin:0.625em 0 0 15.43%;}
	.header ul li a {display: block;width:100%;line-height:60px;box-sizing:border-box;padding:0 0 0 60px;font-size:16px;}
	.header ul li a:before {width:32px;height:32px;background:url(../resources/images/responsive_ico.png);position:absolute;content:'';top:0.875em;left:0px;}
	.header ul li a:hover:before, .header ul li a.active:before,.header ul li a:active:before {background:url(../resources/images/responsive_ico_hover.png);}
	.header ul li:nth-child(2) a:before {background-position: -32px 0;}
	.header ul li:nth-child(3) a:before {background-position: -64px 0;}
	.header ul li:nth-child(4) a:before {background-position: -96px 0;}
	.header ul li:nth-child(7) a:before {background-position: -128px 0;}
	.header ul li:nth-child(8) a:before {background-position: -160px 0;}
	.header .lauch_btn {float:left;width:28.04%;padding:0;margin:0.625em 0 0 15.43%;}
	.header .lauch_btn:before {width:0;height:0;}
	
	
	/* ------MAIN-CONTAINER: SLIDER SECTION------ */
	.slider{max-width:626px;}
	.slider ._left_content {width:51.72%;}
	/* --MAIN-CONTAINER: _left_content -- */
	._left_content h2 {font-size:20px;line-height:1.625em;margin:4em 0 0 0;}
	._left_content p {font-size:14px;line-height:1.25em;margin:0.625em 0 0 0;}
	._left_content span a {font-size:14px;line-height:1.25em;padding:0.75em 0.9375em;margin:1.125em 0.75em 0 0;}
	._left_content span a:nth-child(2) {margin:1.125em 0 0 0;}
	/* --MAIN-CONTAINER: _right_content -- */
	._right_content {width:41.22%;padding-top:3.75em;}
	._right_content img {width:86.85%;float:right;}
	.gift_btn {width:3.5em;height:3.5em;border:6.5px solid rgba(250,200,0,0.2);display:block;top:15em;left:1.2%;}
	.gift_btn:after {width:3.5em;height:3.5em;background-size:31px;}
	/* --MAIN-CONTAINER:dot  -- */
	.slider .pos1 {top:19.1875em;left:0%;}
	.slider .pos2 {top:19.3125em;left:22%;}
	.slider .pos3 {top:17.375em;left:41.87%;}
	._dot_desc h3 {font-size:18px;}
	._dot_desc h3 em {font-size:60%;line-height:1.875em;}
	._dot_desc p {font-size:12px;}
	.slider .pos1_desc,.slider .pos2_desc,.slider .pos3_desc {top:21.5625em;}
	.slider .pos2_desc {left:22%;}
	.slider .pos3_desc {left:41.87%;}
	
	
	/* --MAIN-CONTAINER:kingliveTV  -- */
	.kingliveTV,.NFT {max-width:634px;}
	.kingliveTV ._attribute {padding:0.375em 0.625em;}
	.kingliveTV img {width:63.88%;margin-top:1.25em;}
	.kingliveTV .pos1 {top:50.2px;left:13.96%;}
	.kingliveTV .pos2 {top:67.4px;right:17.54%;}
	.kingliveTV .pos3 {top:140.7px;left:5.91%;}
	.kingliveTV .pos4 {top:121px;right:12.78%;}
	
	
	/* --MAIN-CONTAINER:NFT  -- */

	.NFT ._desc {width:100%;margin-top:0;}
	.NFT ._desc p {margin:15px 0 20px 0;}
	.NFT ._desc ul li {font-size:14px;line-height:1.25em;}
	.NFT ._desc ul li span {background-size:22px;margin:0 8px 0 0;width:22px;height:22px;}
	.NFT ._illustration {width:100%;float:right;} 
	.NFT ._illustration img {display:block;margin:35px auto 0 auto;width:39.08%;}
	.NFT ._desc ._btn {margin:20px 0 0 0;}
	
	.NFT .pos1 {top:76px;left:17.34%;}
	.NFT .pos2 {top:185px;left:5.58%;padding:25px;}
	.NFT .pos3 {top:238px;right:4.27%;padding:25px;}
	.boxes {width:126px;height:126px;margin:0px 20px 0 0;}
	.boxes strong {font-size:24px;line-height:36px;font-weight:normal;}
	
	
	/* --MAIN-CONTAINER:gamehub  -- */
	.gamehub  {max-width:730px;}
	.gamehub ._illustration {width:100%;min-height:323px;}
	.gamehub ._illustration img {width:59.44%;margin:0 auto;display:block;float:none;}
	.gamehub ._subsection {width:100%;float:left;padding:15px 0 0 0;}
	.gamehub ._subsection h3 {width:100%;height:61px;line-height:61px;font-size:20px;padding:0 0 0 17px;margin:0 0 21px 0;} 
	.gamehub ._subsection ul {height:210px;margin-left:0;width:100%;}
	.gamehub ._subsection ul li {font-size:16px;line-height:24px;display:block;margin:0 0 13px 18px;width:46.96%;height:auto;min-height:55px;}
	.gamehub ._subsection ul li:nth-child(5),.sub_list li:nth-child(3) {line-height:55px;}
	.gamehub ._subsection ul li span {width:29px;height:29px;background-size:290px;margin:15px 20px 0 0;}
	.gamehub ._subsection ul li:nth-child(2) span {background-position:	-86px 0;}
	.gamehub ._subsection ul li:nth-child(3) span {background-position:	-29px 0;margin-top:22px;}
	.gamehub ._subsection ul li:nth-child(4) span {background-position:	-116px 0;}
	.gamehub ._subsection ul li:nth-child(5) span {background-position:	-58px 0;}
	.sub_list li:nth-child(3) {line-height:55px !important;}
	.sub_list li:nth-child(5) {line-height:24px !important;}
	.sub_list li:nth-child(1) span {background-position:-145px 0 !important;}
	.sub_list li:nth-child(2) span {background-position:-232px 0 !important;}
	.sub_list li:nth-child(3) span {background-position:-174px 0 !important;margin-top:12px !important;}
	.sub_list li:nth-child(4) span {background-position:-261px 0 !important;}
	.sub_list li:nth-child(5) span {background-position:-203px 0 !important;}
	
	
	/* --MAIN-CONTAINER:features  -- */
	.features ._subsection {overflow:hidden;}
	.features ._subsection div {width:48.76%;height:auto;padding:20px;margin:15px 15px 0 0;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;min-height:400px; overflow:hidden;}
	.features ._subsection div:before {height:6px;} 
	.features ._subsection div h3 {font-size:16px;line-height:24px;}
	.features ._subsection div p {font-size:14px;line-height:21px;}
	.features ._subsection .f_ico {width:56px;height:56px;margin:0 auto 10px auto;}
	.features ._subsection .f_ico:before {width:33px;height:33px;background-size:165px;top:11.5px;left:11.5px;}
	.features ._subsection div:nth-child(2n) {margin:15px 0 0 0 !important;}
	.features ._subsection div:nth-child(3n) {margin:15px 15px 0 0;}
	.features ._subsection div:nth-child(2) .f_ico:before {background-position: -33px 0 !important;}
	.features ._subsection div:nth-child(3) .f_ico:before {background-position: -66px 0 !important;}
	.features ._subsection div:nth-child(4) .f_ico:before {background-position: -99px 0 !important;}
	.features ._subsection div:nth-child(6) .f_ico:before {background-position: -132px 0 !important;}
	
	/* --MAIN-CONTAINER:roadmap  -- */
	.roadmap {overflow:unset;max-width:610px;}	
	.roadmap ._illustration {height:860px;background:url(../resources/images/ilus_04_ipad.svg) 7px top no-repeat;margin:118px 0 0 0;}
	.roadmap ._illustration:after {display:none;}
	.roadmap ._dot {width:21px;height:21px;border:5px solid rgba(255,255,255,0.15);}
	.roadmap ._dot em {width:21px;height:21px;}
	.roadmap ._dot em:after {top:11.5px;left:11.5px;}
	.roadmap ._dot:hover em:after,.roadmap ._dot.active em:after, .roadmap ._dot:active em:after {border:5px solid rgba(247,215,79,0.2);width:21px;height:21px;top:-5px;left:-5px;}
	.roadmap ._dot_desc {padding:11px 16px;}
	.roadmap ._dot_desc h3 {font-size:16px;margin: 0 0 5px 0 ;}
	.roadmap ._dot_desc ul li {font-size:13px;line-height:19px;}
	
	.roadmap .pos1 {top:-9px;left:32.18%;}
	.roadmap .pos2 {top:-9px;left:67.32%;}
	.roadmap .pos3 {top:138px;left:53.04%;}
	.roadmap .pos4 {top:138px;left:19.38%;}
	.roadmap .pos5 {top:210px;left:-0.66%;}
	.roadmap .pos6 {top:282px;left:59.61%;}
	.roadmap .pos7 {top:357px;left:95.4%;}
	
	.roadmap .pos8 {top:432px;left:48.44%;}
	.roadmap .pos9 {top:432px;left:14.29%;}
	.roadmap .pos10 {top:500px;left:-0.66%;}
	.roadmap .pos11 {top:578px;left:61.35%;}
	.roadmap .pos12 {top:724.7px;left:51.31%;}
	
	.roadmap .pos1_desc {top:-105px;left:29.56%;max-width:207px;}
	.roadmap .pos2_desc {top:-105px;left:64.7%;width:254px;}
	.roadmap .pos3_desc {top:19px;left:50.74%;max-width:263px;}
	.roadmap .pos4_desc {top:68px;left:16.75%;}
	.roadmap .pos5_desc {top:171px;left:5.09%;}
	.roadmap .pos6_desc {top:192px;left:56.81%;}
	.roadmap .pos7_desc {top:320px;left:66.17%;max-width:180px;}
	.roadmap .pos8_desc {top:320px;left:45.81%;max-width:147px;}
	.roadmap .pos9_desc {top:313px;left:11.66%;max-width:230px;}
	.roadmap .pos10_desc {top:478px;left:6.73%;max-width:400px;}
	.roadmap .pos11_desc {top:600px;left:23.78%;max-width:500px;}
	.roadmap .pos12_desc {top:765px;left:48.77%;}
	
	/* --MAIN-CONTAINER:partners  -- */
	.partners ._illustration a {padding:25px 0 0 0;width:49.59%;overflow:hidden;height:7.81vw;margin:0;}
	.partners ._illustration a img {max-width:49.01%;display:block;margin:0 auto;}
	.partners ._illustration {padding: 0 0 95px 0;}
	.partners ._illustration a:nth-child(5) {margin-left:0 !important;}
	.partners ._illustration a:nth-child(4),.partners ._illustration a:nth-child(n+5):nth-child(-n+8) {margin:0;}
	.partners ._illustration a:nth-child(7) {margin:0 auto !important;float:none;}
	.partners ._illustration a:nth-child(6) img {max-height:7.81vw;}
	
	/* ----FOOTER:left content ----*/
	.footer ._left_content {width:40.92%;}
	.footer ._left_content p {font-size:14px;line-height:20px;}
	.footer ._left_content ul li {margin:40px 23px 0 0;}
	.footer ._left_content ul li:last-child {margin:40px 0 0 0;}

	
	/* ----FOOTER:right content ----*/
	.footer ._right_content {width:58.92%;float:right;min-height:30px;padding-top:0;}
	.footer ._right_content a {float:left;font-size:14px;text-align:left;}
	
	/*----SUBPAGE----------*/
	.fixed_content {font-size:13px;}


}


@media screen and (max-width:  767px) {
	/* ------BODY------ */
	.container {background:#14151a url(../resources/images/main_bg_iphone.png) top center no-repeat;}
	
	/* ------MAIN-CONTAINER------ */
	._cBlocks {width:80.53%;min-width:302px;}
	.kingliveTV, .NFT, .gamehub, .features, .roadmap, .partners {padding:40px 0 0 0;}
	._desc h2 {font-size:24px;line-height:33px;}
	._desc p {font-size:14px;line-height:21px;width:100%;}
	._desc ._btn {font-size:14px;padding:12px 14px;line-height:17px;font-size:12px;margin:25px auto;}
	._attribute {padding:12px 25px;backdrop-filter: blur(10px);color:#FFFFFF;}
	._attribute strong {font-size:14px;}

	
	/* ------HEADER------ */
	.header {width:100%;height:63.5px;padding:25.5px 0 0 0;}
	.sticky ~ .main_content {padding-top:25.5px;}
	.header ._cBlocks {height:38px;max-width:302px;}
	.header .navbar {display:block;top:15px;}
	.header .logo {width:56px;height:38px;background-size:56px;left:37px;}
	.header .app_name {line-height:16px;top:21px;left:99px;z-index:605;margin:0;}
	#SetSticky {height:38px;}
	.header ul {padding:90px 0 0 0;}
	.header ul.active {width:77.33%;}
	.header ul li:first-child {border-top:2px solid rgba(255,255,255,.2);}
	.header ul li {float:none;width:100%;margin:10px 0 0 71px;}
	.header ul li a {line-height:40px;padding:0 0 0 32px;font-size:14px;}
	.header ul li a:before {width:16px;height:16px;background-size:96px;top:12px;left:0px;}
	.header ul li a:hover:before, .header ul li a.active:before,.header ul li a:active:before {background-size:96px;}
	.header ul li:nth-child(2) a:before {background-position: -16px 0;}
	.header ul li:nth-child(3) a:before {background-position: -32px 0;}
	.header ul li:nth-child(4) a:before {background-position: -48px 0;}
	.header ul li:nth-child(7) a:before {background-position: -64px 0;}
	.header ul li:nth-child(8) a:before {background-position: -80px 0;}
	.header .lauch_btn {float:left;width:44.48%;padding:0;margin:14px 0 0 71px;}
	.header .lauch_btn:before {width:0;height:0;}
	
	
	/* ------MAIN-CONTAINER: SLIDER SECTION------ */
	.slider {max-width:302px;}
	.slider ._left_content {width:100%;}
	/* --MAIN-CONTAINER: _left_content -- */
	._left_content h2 {margin:60px 0 0 0;}
	._left_content span a {font-size:12px;line-height:24px;padding:10px 15px;margin:13px 10px 0 0;}
	._left_content span a:nth-child(2) {margin:13px 0 0 0;}
	/* --MAIN-CONTAINER: _right_content -- */
	._right_content {padding-top:0;width:100%;}
	._right_content img {width:143.6px;height:285px;}
	.gift_btn {width:36px;height:36px;border:4.2px solid rgba(250,200,0,0.2);top:120.4px;left:140px;}
	.gift_btn:after {width:36px;height:36px;background-size:23px;}
	/* --MAIN-CONTAINER:dot  -- */
	.slider .pos1 {top:396px;left:0;}
	.slider .pos2 {top:381px;left:48px;}
	.slider .pos3 {top:358px;left:97px;}
	._dot_desc h3 {font-size:18px;}
	._dot_desc h3 em {font-size:60%;line-height:29px;}
	._dot_desc p {font-size:11px;max-width:39px;line-height:18px;flex-wrap:wrap;}
	.slider .pos1_desc,.slider .pos2_desc,.slider .pos3_desc {top:422px;}
	.slider .pos2_desc {left:48px;}
	.slider .pos3_desc {left:97px;}
	
	
	/* --MAIN-CONTAINER:kingliveTV  -- */
	.kingliveTV {max-width:480px;}
	.kingliveTV ._attribute {padding:3px 10px;font-size:12px;line-height:15px;}
	.kingliveTV img {width:83.77%;margin:0 auto;}
	.kingliveTV .pos1 {top:6.35%;left:0;}
	.kingliveTV .pos2 {top:15.14%;right:0;}
	.kingliveTV .pos3 {top:41.55%;left:0;max-width:105px;}
	.kingliveTV .pos4 {top:51.35%;right:0;max-width:127px;}
	
	
	/* --MAIN-CONTAINER:NFT  -- */
	.NFT {max-width:457px;}
	.NFT ._desc {width:100%;}
	.NFT ._desc p {margin:15px 0 20px 0;}
	.NFT ._desc ul li {font-size:16px;}
	.NFT ._illustration {width:100%;float:right;} 
	.NFT ._illustration img {margin:0 auto;width:47.68%;}
	.NFT ._attribute {padding:3px 6px;}
	.NFT ._desc ._btn {margin:25px auto;}
	.NFT .pos1 {top:9.09%;left:12.25%;}
	.NFT .pos2 {top:36.36%;left:4.64%;max-width:105px;}
	.NFT .pos3 {top:68.69%;right:3.97%;}
	.boxes {width:91px;height:91px;margin:13.4px 9.4px 0 0;padding:24px 8px 8px 8px;font-size:12px;line-height:14px;}
	 span.boxes:nth-of-type(3) {margin-right:0;}
	.boxes strong {font-size:16px;line-height:23px;font-weight:normal;}
	
	
	/* --MAIN-CONTAINER:gamehub  -- */
	.gamehub {max-width:403px;}
	.gamehub ._illustration {padding-top:24px;min-height:0;}
	.gamehub ._illustration img {width:75.83%;}
	.gamehub ._subsection h3 {height:47px;line-height:47px;font-size:18px;} 
	.gamehub ._subsection ul {height:auto;overflow:hidden;}
	.gamehub ._subsection ul li {font-size:14px;line-height:23px;width:94.04%;min-height:41px;margin:0 0 17px 18px;}
	.gamehub ._subsection ul li:nth-child(5),.sub_list li:nth-child(3) {line-height:41px;}
	.gamehub ._subsection ul li span {width:29px;height:29px;background-size:290px;margin:8px 20px 0 0;}
	.gamehub ._subsection ul li:nth-child(3) span {margin-top:8px;}
	.sub_list li:nth-child(3) {line-height:41px !important;}
	.sub_list li:nth-child(3) span {background-position:-174px 0 !important;margin-top:8px !important;}
	
	/* --MAIN-CONTAINER:features  -- */
	.features ._subsection div {width:100%;min-height:100px;}

	
	/* --MAIN-CONTAINER:roadmap  -- */
	.roadmap ._illustration {height:910px;background:url(../resources/images/ilus_04_iphone.svg) 6.5px top no-repeat;width:302px;margin:118px auto 0 auto;}
	.roadmap ._illustration:after {display:none;}
	.roadmap ._dot {width:17px;height:17px;border:5px solid rgba(255,255,255,0.15);}
	.roadmap ._dot em {width:17px;height:17px;}
	.roadmap ._dot em:after {top:8.5px;left:8.5px;}
	.roadmap ._dot:hover em:after,.roadmap ._dot.active em:after, .roadmap ._dot:active em:after, {border:5px solid rgba(247,215,79,0.2);width:17px;height:17px;top:-5px;left:-5px;}
	.roadmap ._dot_desc {padding:5px 8px;}
	.roadmap ._dot_desc h3 {font-size:14px;line-height:19px;margin:0;}
	.roadmap ._dot_desc ul li {font-size:11px;line-height:18px;}
	
	.roadmap .pos1 {top:-9px;left:49px;}
	.roadmap .pos2 {top:-9px;left:167px;}
	.roadmap .pos3 {top:41px;left:282px;}
	.roadmap .pos4 {top:147px;left:-4px;}
	.roadmap .pos5 {top:211px;left:137px;}
	.roadmap .pos6 {top:259px;left:282px;}
	.roadmap .pos7 {top:339px;left:3px;}
	.roadmap .pos8 {top:428px;left:169px;}
	
	.roadmap .pos9 {top:477px;left:282px;}
	.roadmap .pos10 {top:594px;left:-4px;}
	.roadmap .pos11 {top:730px;left:282px;}
	.roadmap .pos12 {top:787px;left:52px;}
	
	.roadmap .pos1_desc {top:-89px;left:0;max-width:154px;}
	.roadmap .pos2_desc {top:-89px;left:161px;width:154px;}
	.roadmap .pos3_desc {top:19px;left:21px;max-width:253px;text-align:right;}
	.roadmap .pos4_desc {top:125px;left:45px;max-width:83px;}
	.roadmap .pos5_desc {top:105px;left:129px;max-width:253px;}
	.roadmap .pos6_desc {top:238px;left:80px;max-width:188px;text-align:right;}
	.roadmap .pos7_desc {top:326px;left:42px;max-width:130px;}
	
	.roadmap .pos8_desc {top:340px;left:166px;max-width:147px;}
	.roadmap .pos9_desc {top:448px;left:5px;max-width:261px;text-align:right;}
	.roadmap .pos10_desc {top:575px;left:42px;max-width:260px;}
	.roadmap .pos11_desc {top:696px;left:-147px;text-align:right;max-width:419px;}
	.roadmap .pos12_desc {top:817px;left:43px;max-width:252px;}
	
	/* --MAIN-CONTAINER:partners  -- */
	.partners ._illustration a {padding:15px 0 0 0;width:49.67%;height:13.33vw;}
	.partners ._illustration a img {max-width:80.43%;}
	.partners ._illustration {padding: 0 0 40px 0;}
	.partners ._illustration a:nth-child(4),.partners ._illustration a:nth-child(n+5):nth-child(-n+8) {margin:0;}
	.partners ._illustration a:nth-child(9) {margin:0 auto;float:none;}
	.partners ._illustration a:nth-child(6) img, .partners ._illustration a:nth-child(8) img,.partners ._illustration a:nth-child(9) img {max-height:13.33vw;}
	
	/* ----FOOTER:left content ----*/
	.footer ._cBlocks {max-width:350px;}
	.footer ._left_content {width:100%; }
	.footer ._left_content .logo {margin: auto;}
	.footer ._left_content p {text-align:center;}
	.footer ._left_content ul {display:block;margin:0 auto;max-width:265px;}
	/* ----FOOTER:right content ----*/
	.footer ._right_content {width:100%;float:right;min-height:30px;padding-top:41px;}
	.footer ._right_content ul li {font-size:16px;}
	.footer ._right_content a {float:left;font-size:12px;text-align:left;min-width:0;box-sizing:border-box;}
	.footer ._right_content a:hover, .footer ._right_content a:active {color:#FAC800;}
	
	/*----SUBPAGE----------*/
	.fixed_content {font-size:11px;}
	._left_content .fcontent_list li a {font-size:0.75em;}
	.fixed_content h1  {font-size:1em /*30px*/;line-height:1.6em;}
	.fixed_content ._right_content h5 {font-size:0.75em;}
	.fixed_content ._right_content h3 {font-size:1.2em;}
	.fixed_content ._right_content p {font-size:1em;}

}