@charset "utf-8";
a {text-decoration:none;}

@-webkit-keyframes shake-horizontal {
  0%,100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%,30%,50%,70% {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
  20%,40%,60% {-webkit-transform: translateX(5px);transform: translateX(5px);}
  80% {-webkit-transform: translateX(3px);transform: translateX(3px);}
  90% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}
}
@keyframes shake-horizontal {
  0%,100% {-webkit-transform: translateX(0);transform: translateX(0);}
  10%,30%,50%,70% {-webkit-transform: translateX(-5px);transform: translateX(-5px);}
  20%,40%,60% {-webkit-transform: translateX(5px);transform: translateX(5px);}
  80% {-webkit-transform: translateX(3px);transform: translateX(3px);}
  90% {-webkit-transform: translateX(-3px);transform: translateX(-3px);}	
}

._transit, ._transit:after, ._transit:before,.info_box span,.bottom_line .container span {-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-ms-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
._rounded {-webkit-border-radius: 8px;-moz-border-radius: 8px;-ms-border-radius: 8px;-o-border-radius: 8px;border-radius: 8px;}

/*---------container-----------*/
.home_container { display: flex;flex-wrap: wrap;margin-top: 35px;}

/*slide track */
.slide-track {overflow: hidden;position: relative;margin-bottom: 15px;width: 100%;}
.slide-track .slide {width: 300%;display: flex;transform: translate(var(--translate), 0);transition: 0.3s;}
/*slide track :item */
.slide .item {position: relative;width: 33.3333%;overflow: hidden;}
.slide .item::before {content: '';padding-top: 27.56%;display: block;}
.slide .item img {position: absolute;top: 0;left: 0; right: 0;bottom: 0;width: 100%;height: 100%;object-fit: cover;}

.slide-track .controls {position: absolute;left: 50%;bottom: 12px;transform: translate(-50%, 0);display: flex;justify-content: space-between;width: 60px;}
.controls .btn {width: 15px;height: 15px;border-radius: 50%;background-color: #c4c4c4;cursor: pointer;}
.controls .btn.active { background: linear-gradient(312.24deg, #01c5ff 4.38%, #fe02f7 100%);}


/*section*/
.split {width:48.47%;flex-wrap: wrap;margin:45px 3.05% 0 0;}
.split .kinglive_vector {width:171px;height:45px;display:block;background:url(../images/home/kinglive.png);}
.split h3 {font:normal 24px "Work Sans";line-height: 150%;text-transform: capitalize;color: #FEFEFE;margin-top:10px;font-weight:500;}

/*section navigator */
.home_navigator {width:100%;margin-top:25px;}
.home_navigator li {height:25px;width:100%;display:block;margin-bottom:25px;}
.home_navigator li a {display:block;font-size: 1.25em;line-height:25px;padding:0 0 0 40px;position:relative;height:25px;color:#fefefe;float:left;}
.home_navigator li a:before {left:0;background:url(../images/home/home_ico.png);position:absolute;top:0;width:25px;height:25px;content:'';}
.home_navigator li:hover a:before {background:url(../images/home/home_ico_hover.png); }
.home_navigator li:nth-child(2) a:before {background-position:calc(-1*25px) 0;}
.home_navigator li:nth-child(3) a:before {background-position:calc(-1*2*25px) 0;}
.home_navigator li:nth-child(4) a:before {background-position:calc(-1*3*25px) 0;}
.home_navigator li .shake {background:url(../images/home/arrow_btn.png) center center no-repeat;width:25px;height:25px;display:block;margin: 0 0 0 15px;float:left;}
.home_navigator li:hover .shake {-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;}
div.split:nth-child(2n) {margin-right:0;}

/* images*/
.split .king_IMG{display:block;margin:0 auto;width:59.44%;}

/* info_box*/
.info_box {background: #353849;-webkit-border-radius:5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius:5px;border-radius: 5px;margin-top:29px;flex-wrap: wrap;display:flex}
.info_box span {font-size: 1em;line-height: 100%;color: #C4C4C4;padding:15px;float:left;overflow:hidden;flex:50%;}
.info_box span:hover {background:#171A2B;}
.info_box span strong {display:block;font-size: 1.25em;line-height: 150%;color:#FFFFFF;}

.bottom_line {width:100%;height:43px;background:#171A2B;margin-top:20px;}
.bottom_line .container {width:59.42%;height:100%;display:flex;}
.bottom_line .container span {width:33.33%;text-align:center;line-height:43px;font-size:1em;color:#C4C4C4;}
.bottom_line .container span:hover {background:#353849;}
.bottom_line .container span strong {font-size: 1.25em;color:#FFFFFF;margin-left:20px;}

@media screen and (max-width: 800px) {
	.bottom_line .container {width:100%;}
	.info_box span,.bottom_line .container span {font-size: 0.75em;text-align:left;}
	.info_box span strong,.bottom_line .container span strong  {font-size: 1em;}
	.bottom_line .container span strong {margin-left:5px;}
}
@media screen and (max-width: 400px) {
	.split {width:100%;}
	.bottom_line .container span {font-size: 0.em;text-align:left;}
	.info_box span strong,.bottom_line .container span strong  {font-size: 1em;}
	.bottom_line .container span strong {margin-left:5px;}
}