@import '../common.scss';

label.upload-avatar {
  display: block;
  padding: 50px;
  margin-top: 30px;

  text-align: center;

  border: 5px dashed $primary-color;
  border-radius: 15px;

  cursor: pointer;

  .icon {
    color: $primary-color;
    font-size: 130px;
  }
}

.modal {
  z-index: $z-index-modal;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  &__mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: #000, $alpha: 0.3);
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    width: 600px;
    max-width: 80%;
    max-height: 80%;

    background-color: $background-white;
  }

  &__title {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
  }
}
