$text-color-light: #fefefe;
$text-color-text: #98999a;
$text-color-dark: #6a6a6d;

$primary-color: #f52871;
$button-color: #ff6a97;

$header-height: 64px;

$index-connect-wallet: 100;

// helper css
@mixin img($ratio) {
  overflow: hidden;

  cursor: pointer;

  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: (1 / $ratio) * 100%;
  }

  > img, video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@for $i from 1 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

.flexbox {
  --gap-col: 25px;
  --gap-row: 25px;

  display: flex;
  flex-flow: column nowrap;

  &__item {
    margin-bottom: var(--gap-row);
  }

  @for $i from 2 through 4 {
    &.flex#{$i} {
      flex-flow: row wrap;

      .flexbox__item {
        width: calc((100% - var(--gap-col) * (#{$i - 1})) / #{$i});

        &:not(:nth-child(#{$i}n)) {
          margin-right: var(--gap-col);
        }
      }
    }
  }
}
// helper css

@mixin show-text-line($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;

  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
