@import "./common.scss";
@charset "utf-8";

@-webkit-keyframes shake-horizontal {
	0%,100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,30%,50%,70% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	20%,40%,60% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	80% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	90% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
}
@keyframes shake-horizontal {
	0%,100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,30%,50%,70% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	20%,40%,60% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	80% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}
	90% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}
}
/*---------container-----------*/
/*slide track */
/*slide track :item */
/*section*/
/*section navigator */
/* images*/
/* info_box*/
a {
	text-decoration: none;
}
._transit {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	&:after {
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	&:before {
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
}
.info_box {
	span {
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1em;
		line-height: 100%;
		color: #C4C4C4;
		padding: 15px;
		float: left;
		overflow: hidden;
		flex: 50%;
		&:hover {
			background: #171A2B;
		}
		strong {
			display: block;
			font-size: 1.25em;
			line-height: 150%;
			color: #FFFFFF;
		}
	}
	background: #353849;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin-top: 29px;
	flex-wrap: wrap;
	display: flex;
}
.bottom_line {
	.container {
		span {
			-webkit-transition: all .5s ease-in-out;
			-moz-transition: all .5s ease-in-out;
			-ms-transition: all .5s ease-in-out;
			-o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
			width: 33.33%;
			text-align: center;
			line-height: 43px;
			font-size: 1em;
			color: #C4C4C4;
			&:hover {
				background: #353849;
			}
			strong {
				font-size: 1.25em;
				color: #FFFFFF;
				margin-left: 20px;
			}
		}
		width: 59.42%;
		height: 100%;
		display: flex;
	}
	width: 100%;
	height: 43px;
	background: #171A2B;
	margin-top: 20px;
}
._rounded {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
.home_container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
}
.slide-track {
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	width: 100%;
	.slide {
		width: 300%;
		display: flex;
		transform: translate(var(--translate), 0);
		transition: 0.3s;
	}
	.controls {
		position: absolute;
		left: 50%;
		bottom: 12px;
		transform: translate(-50%, 0);
		display: flex;
		justify-content: space-between;
		width: 60px;
	}
}
.slide {
	.item {
		position: relative;
		width: 33.3333%;
		overflow: hidden;
		&::before {
			content: '';
			padding-top: 27.56%;
			display: block;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.controls {
	.btn {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #c4c4c4;
		cursor: pointer;
	}
	.btn.active {
		background: linear-gradient(312.24deg, #01c5ff 4.38%, #fe02f7 100%);
	}
}
.split {
	width: 48.47%;
	flex-wrap: wrap;
	margin: 45px 3.05% 0 0;
	.kinglive_vector {
		width: 171px;
		height: 45px;
		display: block;
		background: url(../images/home/kinglive.png);
	}
	h3 {
		font: normal 24px "Work Sans";
		line-height: 150%;
		text-transform: capitalize;
		color: #FEFEFE;
		margin-top: 10px;
		font-weight: 500;
	}
	.king_IMG {
		display: block;
		margin: 0 auto;
		width: 59.44%;
	}
}
.home_navigator {
	width: 100%;
	margin-top: 25px;
	li {
		height: 25px;
		width: 100%;
		display: block;
		margin-bottom: 25px;
		a {
			display: block;
			font-size: 1.25em;
			line-height: 25px;
			padding: 0 0 0 40px;
			position: relative;
			height: 25px;
			color: #fefefe;
			float: left;
			&:before {
				left: 0;
				background: url(../images/home/home_ico.png);
				position: absolute;
				top: 0;
				width: 25px;
				height: 25px;
				content: '';
			}
		}
		&:hover {
			a {
				&:before {
					background: url(../images/home/home_ico_hover.png);
				}
			}
			span {
				-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
				animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
			}
		}
		&:nth-child(2) {
			a {
				&:before {
					background-position: calc(-1*25px) 0;
				}
			}
		}
		&:nth-child(3) {
			a {
				&:before {
					background-position: calc(-1*2*25px) 0;
				}
			}
		}
		&:nth-child(4) {
			a {
				&:before {
					background-position: calc(-1*3*25px) 0;
				}
			}
		}
		span {
			background: url(../images/home/arrow_btn.png) center center no-repeat;
			width: 25px;
			height: 25px;
			display: block;
			margin: 0 0 0 15px;
			float: left;
		}
	}
}
div.split {
	&:nth-child(2n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 800px) {
    .split {
		width: 100%;
	}
	.bottom_line {
		.container {
			width: 100%;
			span {
				font-size: 0.75em;
				text-align: left;
				strong {
					font-size: 1em;
					margin-left: 5px;
				}
			}
		}
	}
	.info_box {
		span {
			font-size: 0.75em;
			text-align: left;
			strong {
				font-size: 1em;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.split {
		width: 100%;
	}
	.bottom_line {
		.container {
			span {
				font-size: 1em;
				text-align: left;
				strong {
					font-size: 1em;
					margin-left: 5px;
				}
			}
		}
	}
	.info_box {
		span {
			strong {
				font-size: 1em;
			}
		}
	}
}
