@import "./common.scss";

.open_detail_btn {
    font:16px normal "Worksans";
    font-weight: normal;
    line-height: 100%;
    text-decoration-line: underline;
    color: #24B7E8;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    &:hover {
        color: $primary-color;
    }
}

.market-popupX {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    background-color: rgba($color: #000, $alpha: 0.5);
  
    .containerX {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  
      width: 615px;
      max-height: 700px;
      overflow-y: auto;
    
  
      display: flex;
      flex-flow: column nowrap;
  
      background-color: #171a2b;
  
      border-radius: 5px;
    }
  
    .closeX {
      position: absolute;
      top: 7px;
      right: 15px;
  
      cursor: pointer;
      user-select: none;
  
      padding: 10px;
    }

    .market-tableX {
        width: 100%;
        // border-collapse: collapse;
      
        thead {
          th {
            border-bottom: 1px solid #353849;
            padding-bottom: 5px;
      
            color: #c4c4c4;
            font-size: 18px;
            font-weight: 400;
            text-align: left;
          }
        }
      
        tbody {
          td {
            padding: 5px 0;
            font-size: 16px;
            color: $text-color-light;
            text-align: left;
          }
        }
      }
  
    .titleX {
      color: $text-color-light;
      font-size: 18px;
      line-height: 1;
  
      margin-bottom: 20px;
    }
  
    .descriptionX {
      position: relative;
  
      margin-bottom: 30px;
  
      > img {
        position: absolute;
        top: 0;
        left: -60px;
      }
    }
  
    .ok😀 {
      background-color: $primary-color;
    }
  }


.nft-market {
    .banner {
        img {
            width: 100%;
        }
    }
    .top-9{
        background-color: #16171B;
        margin-top: -90px;
        position: relative;
        z-index: 9;
        padding: 15px;
        .sub-title {
            font-size: 18px;
            color: #6A6A6D;
            text-align: center;
            margin-top: 25px;
        }
        .title {
            text-align: center;
            font-size: 24px;
            color: #fff;
            margin-top: 5px;
        }
        .create {
            font-size: 16px;
            justify-content: flex-end;
            cursor: pointer;
            color: #F52871;
            display: flex;
            align-items: center;
        }
        .list {
            display: flex;
            > *{
                width: 33.33333333%;
            }
            .left {
                margin-right: 15px;
                padding-right: 15px;
                border-right: 1px solid #2E3145;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .item {
                    width: calc(33.333% - 10px);
                    border-radius: 15px;
                    overflow: hidden;
                    cursor: pointer;
                    position: relative;
                    &.active {
                        &::before {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                    &::after {
                        content : "" ;
                        padding-top: 118.75%;
                        display: block;
                    }
                    &::before {
                        content : "" ;
                        position: absolute;
                        background: linear-gradient(312.24deg, #01C5FF 4.38%, #FE02F7 100%);
                       
                        top: 50%;
                        left: 50%;
                        right: 50%;
                        bottom: 50%;
                        transition: .3s;
                        z-index: 99;
                        opacity: .4;
                    }
                }
            }
            .mid {
                border-radius: 10px;
                overflow: hidden;
                .img {
                    @include img(0.75);
                    border-radius: 10px;
                    overflow: hidden;
                  }
                  .video {
                    @include img(0.75);
                    border-radius: 10px;
                    overflow: hidden;
                    video {
                      opacity: 0;
                    }
                  }
                  &.active-video {
                    .video {
                        img {
                        opacity: 0;
                        }
                        video {
                        opacity: 1;
                        }
                    }
                 }
            }
            .right {
                background-color: #353849;
                padding: 25px;
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                .name {
                    font-size: 24px;
                    color: #fff;
                }
                .price {
                    font-size: 18px;
                    color: #F52871;
                }
                .info {
                    margin-top: 30px;
                    border-bottom: 1px solid #171A2B;
                    padding-bottom: 15px;
                    .row {
                        margin-top: 10px;
                        span {
                            color: #98999A;
                            + span {
                                color: #fff;
                            }
                        }
                    }
                    .detail {
                        color: #24B7E8;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                }
                .btn {
                    padding: 5px 15px;
                    color: #fff;
                    background-color: #F52871;
                    border-radius: 5px;
                    margin-top: 30px;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }
       
    }
    .ranking {
        margin-top: 50px;
        .title {
            font-size: 24px;
            color: #fff;
        }
        .tabs {
            margin-top: 25px;
            display: flex;
            border-bottom: 1px solid #6A6A6D;
            .tab{ 
                padding-right: 35px;
                padding-bottom: 10px;
                font-size: 18px;
                color: #98999A;
                position: relative;
                transition: .3s;
                cursor: pointer;
                &.active {
                    color: #F52871;
                    &::before {
                        opacity: 1;
                    }
                }
                &::before {
                    content : "";
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background-color: #F52871;
                    left: 0;
                    opacity: 0;
                    transition  : .3s;
                }
                + .tab {
                    padding-right: 0;
                    padding-left: 35px;
                }
            }
        }
        .list {
            position: relative;
            margin-top: 20px;
            .top-quatity, .top-seller {
                transition: .3s;
                column-gap:  30px;
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                opacity: 0;
                pointer-events: none;
                top: 0;
                left: 0;
                &.show {
                    opacity: 1;
                    pointer-events: all;
                    position: relative;
                }
                .item {
                    padding: 7px 15px;
                    background-color: #171A2B;
                    width: calc(33.3333% - 20px);
                    display: flex;
                    align-items: center;
                    .index {
                        margin-right: 27px;
                        font-size: 14px;
                    }
                    .avatar {
                        margin-right: 16px;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        .name {
                            color: #fff;
                        }
                        .quatity {
                            font-size: 14px;
                        }

                        
                    }
                }
            }
            
        }
    }
    .popular-nft {
        margin-top: 35px;
        .title {
            font-size: 24px;
            color: #fff;
        }
        .list {
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .item {
                width: calc(33.3333% - 20px);
                position: relative;
                padding: 20px;
                background-color: #353849;
                border-radius: 15px;
                .avatar-container {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50% , 0);
                    width: 145px;
                    height: 40px;
                    background-color: #FEFEFE;
                    z-index: 9;
                    &::before {
                        content : "";
                        position: absolute;
                        // background-color: #FEFEFE;
                        width: 0;
                        height: 0;
                        border-top: 40px solid #FEFEFE;
                        border-left: 9px solid transparent;
                        top: 0;
                        left: 0;
                        transform: translate(calc(-100% + 1px) , 0);
                    }
                    &::after {
                        content : "";
                        position: absolute;
                        // background-color: #FEFEFE;
                        width: 0;
                        height: 0;
                        border-top: 40px solid #FEFEFE;
                        border-right: 9px solid transparent;
                        top: 0;
                        right:  0;
                        transform: translate(calc(100% - 1px) , 0);
                    }
                    .avatar {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        overflow: hidden;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .nft-blur {
                    position: relative;
                    .blur {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        z-index: 99;
                        width: 75%;
                        border-radius: 15px;
                        overflow: hidden;
                        .img {
                            @include img(0.75);
                            border-radius: 10px;
                            overflow: hidden;
                        }
                        .video {
                            @include img(0.75);
                            border-radius: 10px;
                            overflow: hidden;
                            video {
                              opacity: 0;
                            }
                          }
                          &.active-video {
                            .video {
                                img {
                                opacity: 0;
                                }
                                video {
                                opacity: 1;
                                }
                            }
                         }
                        &::before {
                            content : "" ;
                            transform: translate(calc(-100% + 1px) , 0);
                            display: block;
                        }
                    }
                    .nft {
                        position: relative;
                        width: 100%;
                        filter: blur(15px);    
                         img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                          
                        &::before {
                            content : "" ;
                            padding-top: 118.75%;
                            display: block;
                        }
                    }
                }
                .name {
                    margin-top: 10px;
                    color: #fff;
                }
                .info {
                    display: flex;
                    align-items: center;
                    margin-top: 6px;
                    img {
                        margin-right: 6px;
                        width: 29px;
                        height: 29px;
                    }
                    .price {
                        margin-right: 50px;
                        color: #F52871;
                        font-size: 14px;
                    }
                    .amount {
                        font-size: 14px;
                        color: #fff;
                    }
                }
                .btn {
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;
                    background-color: #F52871;
                    color: #fff;
                    font-size: 14px;
                    margin-top: 9px;
                    padding: 10px;
                }
               
            }
        }
    }
}