@import './font-face.scss';
@import './common.scss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: $text-color-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  background-color: #16171b;
  min-height: calc(100vh - #{$header-height});

  margin-left: auto;
  margin-right: 0;
  width: calc(100vw - 76px);
  transition: 0.3s;
  margin-top: $header-height;
  &.small {
    width: calc(100vw - 240px);
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.button-share {
  cursor: pointer;
  user-select: none;

  color: #c4c4c4;
  font-size: 14px;
  line-height: 1;

  padding: 6px 14px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #1e1f24;
  border-radius: 999px;

  > img {
    margin-right: 5px;
  }
}

.button-follow {
  cursor: pointer;
  user-select: none;

  padding: 7px 12px;

  color: $primary-color;
  font-size: 16px;
  line-height: 1;

  background-color: transparent;
  border: 1px solid $primary-color;
  border-radius: 999px;

  transition: 0.3s;

  &:hover {
    color: $text-color-light;
    background-color: $button-color;
    border: none;
  }

  & > .span2 {
    display: none;
  }

  &.following {
    color: $text-color-light;
    background-color: $primary-color;
    border: none;
  }

  &.following:hover {
    color: $text-color-light;
    background-color: #6a6a6d;
    border: none;

    > .span1 {
      display: none;
    }

    > .span2 {
      display: initial;
    }
  }
}
/// ----------new coding:edited
.buttonX {
  cursor: pointer;
  user-select: none;

  display: inline-block;
  padding: 8px 22px;

  color: #fff;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  background-color: $primary-color;
  margin:0 15px 0 0;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &.d-block {
    display: block;
  }

  &--cancel {
    cursor: pointer;
    padding: 5px 22px;
    color: $text-color-text;
    background-color: transparent;
    border: 1px solid $text-color-text;
    font-size: 18px;
    border-radius: 5px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    &:hover{
      background:$primary-color ;
      color:#FFFFFF;
      border-color: $primary-color;
    }
  }

  &--disabled {
    color: $text-color-dark;
    background-color: #353849;
  }
  &:hover{
    background:$button-color ;
  }
}
/// ----------e:new coding:edited

/// ----------new coding:popup container:edited

.containerX {


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 615px;
  max-height: 700px;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;

  background:#171a2b url(../images/nft-market/popup_background.jpg) top right no-repeat ;

  border-radius: 5px;

  ///new element
  h1 {
    display: block;
    width: 100%;
    height: 63px;
    font: normal 24px "Work Sans", sans-serif;
    line-height: 63px;
    text-align: center;
    color:#FFFFFF;
    border-bottom: 1px solid #353849;
  }
}

///new element
.contents_box {
  width: 100%;
  padding: 34px;
}

.submit_box {
  margin-top: 25px;
  justify-content:center ;
}

.close_popup {
  cursor: pointer;
  position: absolute;
  top:15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: url(../images/nft-market/close.png) center center no-repeat;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

  &:hover {
    background: url(../images/nft-market/close_hover.png) center center no-repeat;
  }

}
/// ----------e:new coding:popup container:edited

/// ----------new coding:form-control:edited
.form-control {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  

  ///new element
  img {
    width: 31.08%;
    margin: 0 4.07% 0 0;
  }
  ///new element
  .items_information {
    font: normal 24px "Work Sans", sans-serif;
    width: 64.17%;

    h2 {
      font-weight: 500;
      line-height: 100%;
      color:#ffffff;
      overflow: hidden;
    }
    p {
      font-size: 18px;
      line-height: 150%;
      color: #98999A;
      strong {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: #F52871;
      }
    }
  }

  /*
  > *:nth-child(1) {
    width: 140px;
  }

  > *:nth-child(2) {
    width: calc(100% - 140px);
  }

 
  */
  ///new element
  .box {
    width: 100%;
    position: relative;
  }
  
  ///new element
  .box select {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  ///new element
  .box::before {
    content: "";
    width: 25px;
    height: 20px;
    display: block;
    background:url(../images/nft-market/arrow.png) center center no-repeat;
    position: absolute;
    right:15px;
    top:15px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 99999;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  ///new element
  .box:hover::before {
    background: url(../images/nft-market/arrow_hover.png) center center no-repeat;
  }
  
  ///new element
  .box select option {
    padding: 30px;
  }

  ///new element
  .extra_row {
    width: 100% ;
    margin-top: 12px;

    p {
      font-size: 16px;
      line-height: 150%;
      color: #98999A;
      text-align: right;  

      strong {
        font: normal 16px;
        font-weight: normal;
        line-height: 100%;
        color: #FFFFFF;
        margin-left: 14px;
      }
    }
  }

  label {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
    display: block;
    
  }
  .flex_column {
    width: 31.08%;
    margin:0 4.07% 0 0;
    
    &:nth-child(2n) {
      width: 64.17%;
      margin-right: 0;
    }
    
  }
  ///new element
  .input_boundingbox {
    width: 100%;
    position: relative;
  }
  ///new element
  .box select,
  input[type=number] {
    width: 100%;
    display: block;
    height: 50px;
    padding: 0 15px;
    border: 1px solid #353849;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;

    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: $text-color-text;
    background: #353849;
    position: relative;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
  }

  ///new element
  .increment,
  .decrement {
    width: 25px;
    height: 20px;
    display: block;
    background: url(../images/nft-market/arrow.png) center center no-repeat;
    position: absolute;
    right:15px;
    top:5px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    &:hover {
      background: url(../images/nft-market/arrow_hover.png) center center no-repeat;
    }
  }

  .decrement {
    top: auto;
    bottom: 5px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);      
  }
/// ----------e:new coding:form-control:edited



  .radioContainer {
    user-select: none;
    display: flex;
    align-items: center;

    position: relative;

    > input[type='radio'] {
      display: none;
    }

    > .pseudo-radio {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      pointer-events: none;

      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid #6a6a6d;

      > img {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    > input[type='radio']:checked + .pseudo-radio > img {
      display: block;
    }

    > label {
      cursor: pointer;
      user-select: none;

      padding-left: 37px;
    }
    > table {
      cursor: pointer;
      user-select: none;

      padding-left: 37px;
    }
  }
}

.tabsX {
  padding-top: 35px;
  padding-bottom: 35px;

  &__header {
    display: flex;
    margin-bottom: 25px;

    color: #c4c4c4;
    font-size: 20px;
    font-weight: 500;

    > .item {
      cursor: pointer;
      user-select: none;

      width: calc(1 / 3 * 100%);
      padding-bottom: 5px;
      border-bottom: 2px solid #353849;

      text-align: center;

      &.active {
        color: $primary-color;
        border-bottom: 2px solid $primary-color;
      }
    }
  }

  &__body {
    > .item {
      display: none;

      &.active {
        display: initial;
      }
    }
  }
}

.scroll-style {
  &::-webkit-scrollbar {
    display: none;
  }
}

.videoContainer {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  &__player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

.popupX {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba($color: #000, $alpha: 0.5);
}




.closeX {
  position: absolute;
  top: 7px;
  right: 15px;

  cursor: pointer;
  user-select: none;

  padding: 10px;
}

.titleX {
  color: $text-color-light;
  font-size: 18px;
  line-height: 1;

  margin-bottom: 20px;
}

.descriptionX {
  position: relative;

  margin-bottom: 30px;

  > img {
    position: absolute;
    top: 0;
    left: -60px;
  }
}


.okX {
  background-color: $primary-color;
}


.popupGift {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.5);

  display: none;
  &.show {
    display: block;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 560px;
    overflow-y: auto;
    padding: 20px 25px;
    border-radius: 5px;

    background-color: #000;
  }

  &__gift {
    text-align: center;

    // &:hover > img {
    //   transform: scale(1.2);
    // }

    > img {
      transition: 0.3s;
      width: 100%;
      height: 100px;
      object-fit: contain;
    }

    > p:nth-of-type(1) {
      @include show-text-line(1);
    }

    input[type='number'] {
      width: 100%;
      display: block;
      height: 25px;
      padding: 0 10px;
      padding-right: 50px;
      border: 1px solid #353849;
      border-radius: 5px;

      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      color: $text-color-text;
      background-color: #171a2b;
    }
  }
}

.tableX {
  width: 100%;
  // border-collapse: collapse;

  thead {
    th {
      border-bottom: 1px solid #353849;
      padding-bottom: 5px;

      color: #c4c4c4;
      font-size: 18px;
      font-weight: 400;
    }
  }

  tbody {
    td {
      padding: 5px 0;

      font-size: 16px;
      color: $text-color-light;
      text-align: center;
    }
  }
}

.avatarX {
  .reactEasyCrop_CropArea {
    border-radius: 50%;
  }

}

.buttonSeeMore {
  cursor: pointer;
  user-select: none;

  text-align: center;
  font-size: 20px;
  color: $primary-color;
}
