@import './common.scss';

.upload {
  padding-top: 35px;
  padding-bottom: 35px;

  &__loading {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba($color: #000000, $alpha: 0.5);

    > .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 200px;
      height: 200px;

      > .percent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #fff;
        font-size: 50px;
        font-weight: 500;
      }

      > svg {
        display: block;
        width: 100%;
        height: 100%;

        $radius: 95;
        $pi: 22 / 7;
        $circumference: 2 * $pi * $radius;

        > circle:nth-child(1) {
          stroke-dasharray: $circumference, $circumference;
        }

        > circle:nth-child(2) {
          transition: 0.3s;
          stroke-dasharray: calc(#{$circumference} * var(--percent) / 100), #{$circumference};
        }
      }
    }
  }

  &__popup {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba($color: #000000, $alpha: 0.5);

    .container😀 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 450px;
      padding: 25px 80px;

      display: flex;
      flex-flow: column nowrap;

      background-color: #171a2b;

      border-radius: 5px;
    }

    .close😀 {
      position: absolute;
      top: 7px;
      right: 15px;

      cursor: pointer;
      user-select: none;

      padding: 10px;
    }

    .title😀 {
      color: $text-color-light;
      font-size: 18px;
      line-height: 1;

      margin-bottom: 20px;
    }

    .description😀 {
      position: relative;

      margin-bottom: 30px;

      > img {
        position: absolute;
        top: 0;
        left: -60px;
      }
    }

    .button😀 {
      align-self: center;
    }

    .ok😀 {
      background-color: $primary-color;
    }
  }

  &__title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;

    text-align: center;
  }

  &__description {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__step {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    > .stepItem:not(:last-child) {
      margin-right: 145px;
    }

    > .hr {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translate(calc(-50% - 38px), 0);

      width: 200px;
      height: 3px;

      background-color: #353849;

      transition: 0.3s;

      &.active {
        background-image: linear-gradient(312.24deg, #01c5ff 4.38%, #fe02f7 100%);
      }
    }

    > .stepItem {
      cursor: pointer;
      user-select: none;

      transition: 0.3s;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      color: $text-color-text;
      font-weight: 500;
      font-size: 18px;
      line-height: 1;

      > span:nth-child(1) {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        background-color: #353849;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.active {
        color: #fff;

        > span:nth-child(1) {
          background-image: linear-gradient(312.24deg, #01c5ff 4.38%, #fe02f7 100%);
        }
      }
    }
  }

  &__layout {
    display: flex;
    justify-content: space-between;

    > * {
      width: calc((100% - 45px) / 2);
    }
  }

  &__left {
  }

  &__right {
    transform-style: preserve-3d;

    position: relative;

    > .rotate3D {
      transform-style: preserve-3d;
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    > .rotate3D:nth-child(1) {
      transform: rotateY(1deg);
    }

    > .rotate3D:nth-child(2) {
      transform: rotateY(180deg);
    }

    transition: 1s;

    &.rotate {
      transform: rotateY(180deg);
    }
  }

  &__label {
    line-height: 1;

    margin-bottom: 10px;
  }

  &__video {
    position: relative;

    height: 220px;

    border-radius: 5px;
    border: 1px dashed #fe02f7;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    > input[type='file'] {
      cursor: pointer;
      user-select: none;

      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
    }

    > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.previewStream {
        pointer-events: all;
        opacity: 1;
      }
    }

    > img.preview-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    > span {
      color: $primary-color;
      font-size: 18px;
    }
  }

  &__thumbDesc {
    font-size: 14px;
    line-height: 16.42px;
  }

  &__thumbnail {
    position: relative;

    width: 180px;
    height: 100px;

    border-radius: 5px;
    border: 1px dashed #c4c4c4;

    display: flex;
    justify-content: center;
    align-items: center;

    > input[type='file'] {
      cursor: pointer;
      user-select: none;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;
    }

    > img.preview {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      opacity: 0;

      object-fit: cover;

      pointer-events: none;
    }
  }

  &__copy {
    cursor: pointer;
    user-select: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 50px;

    background-color: #e41a7f;

    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copynoti {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 5px 20px;
    border-radius: 5px;

    background-color: #000;
    color: #fff;
    opacity: 0.5;

    display: none;

    &.show {
      display: block;
    }
  }

  &__input,
  &__textarea {
    display: block;

    width: 100%;
    padding: 0 20px;

    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: $text-color-light;
    background-color: #171a2b;

    border: 1px solid #353849;
    border-radius: 5px;
  }

  &__input {
    height: 50px;
  }

  &__textarea {
    resize: unset;

    padding: 10px 20px;
    height: 220px;
  }

  &__button {
    cursor: pointer;
    user-select: none;

    display: inline-block;
    padding: 5px 22px;

    color: #fff;
    font-size: 18px;
    line-height: inherit;
    font-weight: inherit;
    font-family: inherit;
    background-color: $button-color;

    border-radius: 5px;

    &--cancel {
      color: $text-color-text;
      background-color: transparent;

      border: 1px solid $text-color-text;
    }
  }

  &__message {
    color: #e41a7f;
    font-size: 16px;

    > span {
      cursor: pointer;
      user-select: none;

      font-size: 18px;

      text-decoration: underline;
    }
  }

  /// new

  &__checkbox {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    margin: 29px 15px 0 0;

    position: relative;

    

    &::before {
      content: '';
      width: 25px;
      height: 25px;
      border: 1px solid #353849;
      background-color: #16171b;
      position: absolute;
      top:0;
      left:0;
      transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) ;
    }
    &:checked {
      &::before{
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 36px;
        color: #e41a7f;
        text-align: center;
        line-height: 15px;
        border-color:#e41a7f;

      }
    }
  }

  label {
    width: 90%;
    margin: 29px 0 0 0;
    font-size: 16px;
    line-height: 150%;
    color: #98999A;

    > span {
      color:#e41a7f;
    }
  }
}
