.account {
  margin-top: 77px;

  h3 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
    // text-transform: uppercase;
  }

  .ref {
    h3 {
      display: inline-block;
    }
  }

  .open-reward {
    border-radius: 25px;
    padding: 7px 15px;
    background-image: linear-gradient(to bottom, #eac35b, #edda8b, #a47b00, #c99b00);
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
  }

  .maskreward {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    .popupreward {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 430px;
      max-width: 80%;
      max-height: 80%;
      border-radius: 5px;
      overflow: hidden;

      .header {
        background-image: linear-gradient(to bottom right, #e8bf23, #e8bf23, #a77b00, #edda88, #d4af37);

        p {
          font-size: 22px;
          color: #283349;
          text-align: center;
          padding: 20px 0;
        }
      }

      .body {
        padding: 15px 20px;
        background-color: #f1f3f4;

        .count-info {
          background-color: #fff;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          padding: 15px 0;
          border-radius: 5px;

          > * {
            display: inline-block;
            width: 100%;
          }

          .count {
            text-align: center;
            padding: 0 15px;
            text-align: center;

            + .count {
              border-left: 1px solid #ddd9d8;
            }

            p {
              font-size: 14px;
              color: #8a8c8e;
            }

            p.number {
              font-size: 20px;
              font-weight: 600;
              color: #fac800;
            }
          }
        }

        .title {
          font-size: 16px;
          color: #283349;
          text-align: center;
          padding: 18px;
        }

        .list-detail {
          padding: 0 15px;
          background-color: #fff;
          border-radius: 5px;
          max-height: 240px;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            display: none;
          }

          table {
            width: 100%;

            td {
              font-size: 13px;
              color: #8a8c8e;
              padding: 10px;
              text-align: center;
            }

            th {
              font-size: 13px;
              color: #283349;
              text-align: center;
              padding: 13px 10px;
            }

            tbody {
              tr {
                td {
                  border-top: 1px solid #ddd9d8;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar {
    padding: 36px 0;
    background-color: rgba(40, 51, 73, 0.4);

    .top-sidebar {
      .avata {
        width: 100px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 20px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        .avata-img {
          width: 100%;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }

      h3 {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        margin-top: 15px;
        width: 100%;
      }
    }

    .bottom-sidebar {
      margin-top: 40px;

      .tab {
        padding: 0 2px;

        .item {
          padding: 15px 24px;
          transition: all 0.3s ease;
          cursor: pointer;
          font-size: 0;

          > * {
            display: inline-block;
            vertical-align: top;
          }

          img {
            width: 22px;
          }

          .text {
            width: calc(100% - 22px);
            padding-left: 10px;

            h4 {
              font-size: 16px;
              color: #8a8c8e;
            }

            p {
              font-size: 14px;
            }
          }

          &:hover,
          &.active {
            background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0.6),
              rgba(255, 255, 255, 0.2),
              rgba(255, 255, 255, 0)
            );

            h4 {
              color: #fff;
            }
          }

          + .item {
            border-top: 1px solid #8a8c8e;
          }
        }
      }
    }
  }

  .main {
    background-color: rgba(40, 51, 73, 0.4);
    padding: 32px 39px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    form {
      font-size: 0;
      margin: 0 -7px;

      .upload {
        margin-top: 20px;
        text-align: center;

        > * {
          display: inline-block;
          vertical-align: middle;
          font-size: 18px;
          color: #fac800;
        }

        .text {
          width: calc(100% - 250px);
          padding-right: 90px;
          text-align: left;
        }

        .upload-block {
          border-radius: 5px;
          cursor: pointer;
          padding: 0 35px;
          padding-top: 35px;
          padding-bottom: 10px;
          font-size: 14px;
          color: #8a8c8e;
          background-color: #fff;
          width: 250px;
          overflow: hidden;
          position: relative;

          .placeholder {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 99;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
      }

      ul {
        margin-top: 25px;
        padding: 0 7px;

        li {
          color: #ddd9d8;
          font-size: 14px;
          position: relative;
          padding-left: 14px;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 6px;
            height: 6px;
            background-color: #ddd9d8;
            border-radius: 50%;
          }
        }
      }

      .input-group {
        position: relative;
        margin-top: 48px;
        display: inline-block;
        width: 100%;
        padding: 0 7px;
        font-size: 16px;

        input[disabled] {
          opacity: 0.5;
          cursor: not-allowed;
          pointer-events: none;
          user-select: none;
        }

        .input-password {
          position: relative;

          .validate-error {
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            white-space: nowrap;
            color: #ff0000;
            font-size: 12px;
            font-style: italic;
          }

          input {
            margin-top: 0;
            padding-right: 15px;
          }

          .eye {
            position: absolute;
            cursor: pointer;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            font-size: 14px;
          }
        }

        &.checkbox {
          label {
            position: relative;

            > span {
              display: inline-block;
              vertical-align: middle;
              &:last-child {
                display: inline;
              }
            }
          }
        }

        &.haft {
          width: 50%;
        }

        &.select {
          margin: 0;

          span {
            position: relative;
          }

          .title {
            font-size: 18px;
            color: #fff;
            margin-bottom: 30px;
          }

          .select-block {
            font-size: 0;
            cursor: pointer;

            > * {
              display: inline-block;
              vertical-align: middle;
            }

            img {
              width: 37px;
            }

            .selected {
              width: calc(100% - 37px - 17px);
              margin-left: 17px;
              font-size: 16px;
              color: #8a8c8e;
              position: relative;

              > span {
                font-size: 0;
                padding-bottom: 5px;

                > * {
                  vertical-align: middle;
                }

                &.contry {
                  img {
                    width: 27px;
                  }

                  input {
                    width: calc(100% - 30px - 27px);
                    padding: 0;
                    font-size: 16px;
                    padding-left: 8px;
                    border: none;
                  }
                }

                span {
                  width: calc(100% - 30px);
                  font-size: 16px;
                }

                border-bottom: 1px solid #8a8c8e;
                width: 100%;

                [class*='fa-'] {
                  width: 30px;
                  text-align: center;
                  font-size: 16px;
                }
              }

              .dropdown-selected {
                position: absolute;
                opacity: 0;
                pointer-events: none;
                top: calc(100% + 2px);
                left: 0;
                border-radius: 8px;
                overflow: hidden;
                width: 100%;
                transition: all 0.3s ease;
                max-height: 210px;
                overflow-y: scroll;
                z-index: 999;

                p {
                  padding: 16px 18px;
                  font-size: 16px;
                  color: #8a8c8e;
                  background-color: #ffffff;
                  width: 100%;

                  &:hover,
                  &.selected-value {
                    background-color: #fff6d0;
                  }
                }
              }

              &.show {
                .dropdown-selected {
                  opacity: 1;
                  pointer-events: all;
                }
              }
            }
          }
        }

        .radio-group {
          width: 100%;
          padding: 21px 0;
          border: 1px solid #525660;
          text-align: center;
          font-size: 0;

          .group-label {
            // width: ;
            display: inline-block;
            width: 50%;
            position: relative;
            font-size: 14px;

            > * {
              vertical-align: middle;
            }

            input {
              &:checked {
                ~ label {
                  background-color: #ddd9d8;

                  &::before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }
                }
              }
            }

            label {
              cursor: pointer;
              border-radius: 50%;
              background-color: #8a8c8e;
              padding: 9px;
              position: relative;
              width: 18px;
              height: 18px;
              display: inline-block;
              margin-right: 17px;
              // top: 0;
              // left: 0;
            }

            span {
              user-select: none;
            }
          }
        }

        > span {
          position: absolute;
          top: 0;
          left: 27px;
          transform: translate(0, -50%);
          padding: 0 13px;
          background-color: #1a2032;
          color: #fac800;
          font-size: 16px;
          z-index: 9;
        }

        input {
          background-color: transparent;
          color: #8a8c8e;
          border: 1px solid #525660;
          font-size: 14px;
          padding: 18px;
          width: 100%;

          &[type='radio'] {
            display: none;
          }

          &[type='checkbox'] {
            display: none;
          }
        }

        button {
          cursor: pointer;
          border-radius: 10px;
          background-image: linear-gradient(to bottom, #e9c258, #ecd98a, #a57d04, #c39500);
          color: #fff;
          padding: 17px 0;
          width: 195px;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 500;
          border: none;

          &.valid {
            opacity: 1;
            pointer-events: all;
          }

          &.not-valid {
            opacity: 0.5;
            pointer-events: none;
          }

          &.not-valid + span.not-allowed {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: not-allowed;

            transform: none;
            padding: 0;
            background-color: transparent;
            color: transparent;
            font-size: 0;
            z-index: 999;
          }
        }
      }
    }

    .ref {
      > div {
        margin-top: 25px;
        font-size: 0;

        > span:first-child {
          width: 160px;
          font-size: 16px;
          color: #8a8c8e;
        }

        .high-line {
          color: #fac800;
          font-size: 18px;
        }

        .link {
          word-break: break-all;
          font-size: 16px;
          cursor: pointer;
          color: #0687d7;
          word-wrap: break-word;

          [class*='fa-'] {
            color: #fff;
            cursor: pointer;
          }
        }

        .code {
          cursor: pointer;
          color: #ffffff;
          font-size: 16px;

          [class*='fa-'] {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    .rule {
      margin-top: 35px;
      padding: 20px 15px;
      border-radius: 5px;
      background-color: #121827;

      p {
        &:first-child {
          font-size: 16px;
          color: #fac800;
          text-decoration: underline;
          font-style: italic;
        }

        + p {
          margin-top: 25px;
          font-size: 14px;
          color: #8a8c8e;

          + p {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .account {
    .sidebar {
      padding: 15px 0;

      .bottom-sidebar {
        margin-top: 26px;
      }
    }

    .main {
      .ref {
        > div {
          > span:first-child {
            width: 80px;
            vertical-align: top;
            font-size: 14px;
          }

          > span:last-child {
            width: calc(100% - 80px);
            vertical-align: top;
          }
        }
      }
      .input-group.haft.select {
        width: 100%;

        + .select {
          margin-top: 48px;
        }
      }

      form {
        .upload {
          font-size: 0;

          .text {
            width: 70%;
            font-size: 12px;
          }

          .upload-block {
            width: 30%;
            padding: 10px;
          }
        }
      }
    }

    .kdg-col-3 {
      width: 100%;

      * {
        text-align: center;
      }
    }

    .kdg-col-9 {
      width: 100%;
      margin-top: 7px;
    }
  }
}

@media only screen and (max-width: 767px) {
  body .account {
    .sidebar {
      padding: 15px 0;

      .bottom-sidebar {
        margin-top: 26px;
      }
    }

    .main {
      .ref {
        > div {
          > span:first-child {
            width: 80px;
            vertical-align: top;
            font-size: 14px;
          }

          > span:last-child {
            width: calc(100% - 80px);
            vertical-align: top;
          }
        }
      }

      .input-group.haft.select {
        width: 100%;

        + .select {
          margin-top: 48px;
        }
      }

      form {
        .upload {
          font-size: 0;

          .text {
            width: 100%;
            font-size: 12px;
            text-align: center;
            padding: 0;
          }

          .upload-block {
            width: 100%;
            padding: 10px;
          }
        }
      }
    }

    .kdg-col-3 {
      width: 100%;

      * {
        text-align: center;
      }
    }

    .kdg-col-9 {
      width: 100%;
      margin-top: 7px;
    }
  }
}

.button-gradiant {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #e9c258, #ecd98a, #a57d04, #c39500);
  color: #fff;
  padding: 17px 0;
  width: 195px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
