.modal-form-gamehub {
    .title {
        color: #FAC800;
        font-size: 35px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 60px;
            height: 2px;
            background-color: #FAC800;
            position: absolute;
            top: 47px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .desc {
        color: #303030;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
    }

    .form-container {
        display: flex;

        .left {
            width: calc((100% - 25px) / 2);
            margin-right: 25px;
        }

        .right {
            width: calc((100% - 25px) / 2);
        }
    }

    .link-confirm {
        text-decoration: underline;
    }

    .formgamehub-button {
        min-width: 300px;
        height: 50px;
        line-height: 50px;
        color: #303030;
        padding: 0 30px;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #FAC800;
    }
}