.rotate-block {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  > * {
    position: absolute;
  }
  .rotate-left {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 5s linear;
    animation: rotateleft 5s infinite linear;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
  }
}

@keyframes rotateleft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
