.term{
    margin-top: 50px;
    @media only screen and (max-width : 768px){
        margin-top: 25px;
    }
    &.kdg-row{
        .kdg-col-3{
            padding-right: 0;
        }
        .kdg-col-9{
            padding-left: 0;
        }
    }
    .sidebar-term{
        text-align: right;
        background-color: #20293d;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-right: 30px;
        @media only screen and (max-width : 768px){
            padding: 0;
            background-color: transparent;
            text-align: left;
            white-space: pre;
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        h2{
            font-size: 20px;
            font-weight: 600;
            color: #ddd9d8;
            @media only screen and (max-width : 768px){
                display: none;
            }
        }
        p{
            font-size: 18px;
            color: #ddd9d8;
            margin-top: 35px;
            @media only screen and (max-width : 768px){
                margin: 0;
                display: inline-block;
                text-align: left;
                white-space: pre;
                +p{
                    margin-left: 10px;
                }
                &.active{
                    text-decoration: underline;
                }
            }
            &.active{
                color: #fac800;
            }
            cursor: pointer;
        }
    }
    .term-content{
        background-color: #1b2335;
        padding: 35px 20px;
        overflow-y: scroll;
        @media only screen and (max-width : 768px){
            padding: 0;
            background-color: transparent;
            margin-top: 30px;
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
@media only screen and (max-width : 768px){
    .term{
        &.kdg-row{
            .kdg-col-3{
                width: 100%;
                padding-right: 9px;
            }
            .kdg-col-9{
                width: 100%;
                padding-left: 9px;
            }
        }
    }
}